{
  "extends": "eslint-config-egg",
  "ecmaVersion":6,
  "rules": {
    "linebreak-style": 0,
    "no-cond-assign": 0,
    "no-console": 0,
    "no-unused-vars": 0,
    "no-constant-condition": 0,
    "no-trailing-spaces": 0,
    "indent": 0
  }
}


