<header class="short-header">   
        <div class="gradient-block"></div>	
        <div class="row header-content">
            <div class="logo">
              <a href="index.html">Author</a>
           </div>
            <nav id="main-nav-wrap">
                 <ul class="main-navigation sf-menu">
                     <li class="current"><a href="/" title="">首页</a></li>									
                     <li class="has-children">
                         <a href="home/category.html" title="">Categories</a>
                         <ul class="sub-menu">
                         <li><a href="home/category.html">Wordpress</a></li>
                         <li><a href="home/category.html">HTML</a></li>
                         <li><a href="home/category.html">Photography</a></li>
                         <li><a href="hoem/category.html">UI</a></li>
                         <li><a href="home/category.html">Mockups</a></li>
                         <li><a href="home/category.html">Branding</a></li>
                      </ul>
                     </li>
                     <li class="has-children">
                         <a href="single-standard.html" title="">Blog</a>
                         <ul class="sub-menu">
                         <li><a href="single-video.html">Video Post</a></li>
                         <li><a href="single-audio.html">Audio Post</a></li>
                         <li><a href="single-gallery.html">Gallery Post</a></li>
                         <li><a href="single-standard.html">Standard Post</a></li>
                      </ul>
                     </li>
                     <li><a href="style-guide.html" title="">Styles</a></li>
                     <li><a href="contact.html" title="">Contact</a></li>
                     {% if token %}
                             <li><a href="/artice/write">写心情</a></li>
                             <li><a href="/user">{{username}}</a></li>
                             <li><a style='cursor: pointer;' id="logOut">退出</a></li>
                     {% else %}
                        <li><a href="/login/login_get" title="">登录</a></li>
                        <li><a href="/login/register_get"  title="">注册</a></li>	
                     {% endif %}												
                 </ul>
             </nav> <!-- end main-nav-wrap -->
 
             <div class="search-wrap">
                 
                 <form role="search" method="get" class="search-form" action="#">
                     <label>
                         <span class="hide-content">Search for:</span>
                         <input type="search" class="search-field" placeholder="Type Your Keywords" value="" name="s" title="Search for:" autocomplete="off">
                     </label>
                     <input type="submit" class="search-submit" value="Search">
                 </form>
 
                 <a href="#" id="close-search" class="close-btn">Close</a>
 
             </div> <!-- end search wrap -->	
 
             <div class="triggers">
                 <a class="search-trigger" href="#"><i class="fa fa-search"></i></a>
                 <a class="menu-toggle" href="#"><span>Menu</span></a>
             </div> <!-- end triggers -->	
        </div>     			
</header> 
<script>

</script>