{% extends "../base.html" %}

	{% block title %}
	<title>首页</title>
	{% endblock %}

	{% block link %}
	<!-- CSS ================================================== -->
   	<!--[if IE 8 ]><html class="no-js oldie ie8" lang="en"> <![endif]-->
	<!--[if IE 9 ]><html class="no-js oldie ie9" lang="en"> <![endif]-->
	<!--[if (gte IE 9)|!(IE)]><!--><html class="no-js" lang="en"> <!--<![endif]-->
   <link rel="stylesheet" href="/public/css/base.css">
   <link rel="stylesheet" href="/public/css/vendor.css">  
   <link rel="stylesheet" href="/public/css/main.css">
   <link rel="shortcut icon" href="/public/favicon.ico" type="image/x-icon">
   <link rel="icon" href="/public/favicon.ico" type="image/x-icon">
    {% block linkheader %}{% endblock %}	
	{% endblock %}

	{% block headsctipt %}
	   <!-- script  ================================================== -->
	   <script src="/public/js/modernizr.js"></script>
	   <script src="/public/js/pace.min.js"></script>	
	{% endblock %}


	{% block header %}
	   {% include "./header.html" ignore missing%}
	{% endblock%}
		
	{% block content %}
		{% include "./content.html" ignore missing%}
	{% endblock %}

   {% block footer %}
     {% include "./footer.html" ignore missing%}
   {% endblock %}

   {% block footScript %}
   <script src="/public/js/plugins.js"></script>
   <script src="/public/js/main.js"></script>
   {% endblock %}
   
   {% block script%}

   {% endblock %}
